In [3]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

# Load aggregated country data
df = pd.read_excel("C:/Users/Udith P Kidiyoor/Downloads/Fresher_MBA/Fresher_MBA/Test_Data_2026_Fresher.xlsx")
df.head()

,Transaction Timestamp,UserID,Device Platform,Transaction Value (USD),Is Personalised Offer?,Country,Transaction Level,Transaction Number,Lifetime Revenue (i.e. LTV) at Time of this Purchase (USD),Install Timestamp,Codebase
0,2022-04-01 00:05:00,id20c41209,Android,3.99,0,US,150.0,172,984.29,2020-07-19 08:18:00,H
1,2022-04-01 00:10:00,idb68b5ab3,Android,1.99,1,US,21.0,1,0.00,2022-03-31 08:23:00,J
2,2022-04-01 00:20:00,id284447f3,Android,2.99,1,US,20.0,2,6.99,2022-03-30 21:09:00,J
3,2022-04-01 00:20:00,idb32b0678,Android,19.99,0,US,48.0,34,218.67,2022-03-13 21:58:00,J
4,2022-04-01 00:30:00,id20bebc66,Android,4.99,0,US,45.0,25,160.76,2020-07-12 23:45:00,H

In [7]:
import pandas as pd
install_df = pd.read_excel(
    "C:/Users/Udith P Kidiyoor/Downloads/Fresher_MBA/Fresher_MBA/Test_Data_2026_Fresher.xlsx",
    sheet_name="SETA_InstallSource"
)
txn_df = pd.read_excel(
    "C:/Users/Udith P Kidiyoor/Downloads/Fresher_MBA/Fresher_MBA/Test_Data_2026_Fresher.xlsx",
    sheet_name="SETA_TransactionData"
)

In [8]:
install_df = install_df.rename(columns={
    "UserID": "user_id",
    "Install Source": "install_source"
})

txn_df = txn_df.rename(columns={
    "UserID": "user_id",
    "Transaction Value (USD)": "txn_value"
})

In [9]:
install_df = install_df.drop_duplicates(subset="user_id")

In [10]:
df = txn_df.merge(
    install_df,
    on="user_id",
    how="left"
)

In [11]:
install_kpis = (
    df.groupby("install_source")
      .agg(
          total_revenue=("txn_value", "sum"),
          total_users=("user_id", "nunique")
      )
      .reset_index()
)

install_kpis["ARPU"] = (
    install_kpis["total_revenue"] /
    install_kpis["total_users"]
)

install_kpis

         install_source  total_revenue  total_users       ARPU
0   Branding Channel 01        7250.87          184  39.406902
1   Branding Channel 02        6823.43          192  35.538698
2   Branding Channel 03        6951.43          208  33.420337
3   Branding Channel 04        8009.21          166  48.248253
4   Branding Channel 05        9515.87          171  55.648363
5     Growth Channel 01        8430.43          174  48.450747
6     Growth Channel 02        9073.76          192  47.259167
7     Growth Channel 03        5327.80          161  33.091925
8     Growth Channel 04        5830.92          179  32.574972
9     Growth Channel 05        5706.53          180  31.702944
10              Organic        6638.32          183  36.274973
11        UA Channel 01        7821.81          201  38.914478
12        UA Channel 02        8042.48          179  44.930056
13        UA Channel 03        6676.14          176  37.932614
14        UA Channel 04        6120.83          197  31.070203
15        UA Channel 05        7653.47          192  39.861823

In [14]:
top_3 = install_kpis.sort_values("ARPU", ascending=False).head(3)
bottom_3 = install_kpis.sort_values("ARPU", ascending=True).head(3)

top_3

        install_source  total_revenue  total_users       ARPU
4  Branding Channel 05        9515.87          171  55.648363
5    Growth Channel 01        8430.43          174  48.450747
3  Branding Channel 04        8009.21          166  48.248253

In [15]:
bottom_3

       install_source  total_revenue  total_users       ARPU
14      UA Channel 04        6120.83          197  31.070203
9   Growth Channel 05        5706.53          180  31.702944
8   Growth Channel 04        5830.92          179  32.574972